.sans-serif {
  font-family: sans-serif;
}

.h {
  font-family: sans-serif;
  color: #f0f2f5;
}

.h1 {
  font-size: 6.3vw;
}

.h3 {
  font-size: 5vw;
}

@media only screen and (max-width: 1035px) {
  #more {
    display: inline-block !important;
  }
  #more .dropdown-menu #m4,
  #more .dropdown-menu #m3 {
    display: block;
  }
  .contact,
  .about {
    display: none !important;
  }
  .iam .iam-content {
    margin-left: -20px;
  }
  .iam .iam-content h1 {
    font-size: 6vw !important;
  }
}

@media only screen and (max-width: 900px) {
  .dropdown-menu #m2 {
    display: block !important;
  }
  .CR {
    display: none !important;
  }
  .iam {
    margin-top: 20px !important;
  }
  .iam .iam-content {
    margin-left: 0px !important;
    margin-bottom: 55px !important;
  }
  .iam .iam-pic {
    display: none !important;
  }
  .who .who-pic img {
    height: 94% !important;
    width: 45vw !important;
  }
}

@media only screen and (max-width: 770px) {
  .dropdown-menu #m1 {
    display: block !important;
  }
  .BTF {
    display: none !important;
  }
  .slider .slider-content::before {
    font-size: 5vw !important;
  }
  .who .who-pic img {
    height: 90% !important;
    width: 45vw !important;
  }
  .iam {
    margin-top: 0px !important;
  }
  .stranger .stranger-content h1 {
    font-size: 5vw !important;
  }
}

@media only screen and (max-width: 690px) {
  .who .who-pic img {
    height: 87% !important;
    width: 45vw !important;
  }
  .iam {
    margin-top: 0px !important;
    margin-bottom: 30px;
  }
  .welcome .sub-welcome {
    border-top-left-radius: 120px !important;
    border-bottom-right-radius: 120px !important;
  }
}

@media only screen and (max-width: 635px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky !important;
    position: sticky !important;
    opacity: 1;
  }
  nav .menu {
    background: url("../assets/menu.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 88%;
    z-index: -1;
    -webkit-filter: invert(0.7);
            filter: invert(0.7);
    -webkit-transition: all .51s ease-out !important;
    transition: all .51s ease-out !important;
  }
  nav .menu:hover {
    left: 0px;
    top: 0px;
    background-color: #f0f2f5 !important;
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  nav .menu:hover + .cancel {
    display: block !important;
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: #2c2b2b;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 90%;
    top: 10%;
    -webkit-transition: all .31s linear;
    transition: all .31s linear;
    -webkit-transition-delay: .51s;
            transition-delay: .51s;
  }
  nav .menu:hover > .nav-links,
  nav .menu:focus > .nav-links {
    background-color: #f0f2f5;
    display: block;
    width: 100vw;
    position: absolute;
    left: 0px;
    margin-left: 0px !important;
    padding-top: 100px;
  }
  nav .menu:hover > .nav-links .nav-btn,
  nav .menu:hover > .nav-links .dropdown,
  nav .menu:focus > .nav-links .nav-btn,
  nav .menu:focus > .nav-links .dropdown {
    color: #2c2b2b !important;
    display: block !important;
    width: 100%;
    -webkit-transition: all .22s ease-in;
    transition: all .22s ease-in;
    border-bottom: 1px solid rgba(51, 51, 51, 0.199);
  }
  nav .menu:hover > .nav-links .nav-btn:hover,
  nav .menu:hover > .nav-links .dropdown:hover,
  nav .menu:focus > .nav-links .nav-btn:hover,
  nav .menu:focus > .nav-links .dropdown:hover {
    background-color: #333333 !important;
    color: #f0f2f5 !important;
  }
  nav .menu:hover > .nav-links .nav-btn:hover .dropdown-menu,
  nav .menu:hover > .nav-links .dropdown:hover .dropdown-menu,
  nav .menu:focus > .nav-links .nav-btn:hover .dropdown-menu,
  nav .menu:focus > .nav-links .dropdown:hover .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 90%;
    background-color: #2c2b2b;
    -webkit-clip-path: fill-box !important;
            clip-path: fill-box !important;
    position: relative !important;
  }
  nav .menu:hover > .nav-links .nav-btn:hover .dropdown-menu .top,
  nav .menu:hover > .nav-links .dropdown:hover .dropdown-menu .top,
  nav .menu:focus > .nav-links .nav-btn:hover .dropdown-menu .top,
  nav .menu:focus > .nav-links .dropdown:hover .dropdown-menu .top {
    -webkit-clip-path: none;
            clip-path: none;
  }
  nav .menu:hover > .nav-links .nav-btn:hover .dropdown-menu a,
  nav .menu:hover > .nav-links .dropdown:hover .dropdown-menu a,
  nav .menu:focus > .nav-links .nav-btn:hover .dropdown-menu a,
  nav .menu:focus > .nav-links .dropdown:hover .dropdown-menu a {
    background-color: #2c2b2b;
    color: #f0f2f5 !important;
  }
  nav .menu:hover > .nav-links .nav-btn:hover .dropdown-menu a:hover,
  nav .menu:hover > .nav-links .dropdown:hover .dropdown-menu a:hover,
  nav .menu:focus > .nav-links .nav-btn:hover .dropdown-menu a:hover,
  nav .menu:focus > .nav-links .dropdown:hover .dropdown-menu a:hover {
    background-color: #f0f2f5;
    color: #2c2b2b !important;
  }
  nav .menu:hover > .nav-links .dropdown *,
  nav .menu:focus > .nav-links .dropdown * {
    -webkit-transition: all .22s ease-in;
    transition: all .22s ease-in;
  }
  nav .menu:hover > .nav-links .dropdown:hover,
  nav .menu:focus > .nav-links .dropdown:hover {
    background-color: #2c2b2b !important;
    padding-bottom: 10px;
  }
  nav .menu:hover > .nav-links .dropdown:hover .dropdown-btn,
  nav .menu:focus > .nav-links .dropdown:hover .dropdown-btn {
    color: white !important;
    border: 1px solid white;
  }
  nav .nav-links {
    display: none;
  }
  #more {
    display: none !important;
  }
  #more .dropdown-menu .nav-btn {
    display: none !important;
  }
  .who {
    height: 500px;
  }
  .who .who-pic img {
    height: 100% !important;
    width: 45vw !important;
  }
  .iam {
    margin-top: 40px !important;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    z-index: 2 !important;
  }
  .who {
    z-index: -2;
  }
  .who .who-content {
    z-index: 1;
  }
  .who .who-pic {
    position: absolute;
    height: 550px !important;
    width: 100vw !important;
    overflow: hidden;
    right: 0px;
  }
  .who .who-pic img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 700px !important;
    width: 100% !important;
    border-left: 12px solid #2c2b2b;
    border-right: none !important;
  }
  .iam {
    margin-top: 0px !important;
  }
  .iam .iam-content {
    margin-bottom: 30px !important;
  }
  .stranger .stranger-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stranger .stranger-content h1 {
    line-height: 40px !important;
  }
  .welcome {
    padding: .1px 0px !important;
  }
  .welcome .sub-welcome {
    border-top-left-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    margin: 0vw 10vw 20px !important;
  }
}

@media only screen and (max-width: 500px) {
  .who {
    height: 500px !important;
  }
  .who .who-content {
    height: 100% !important;
  }
  .who .who-pic img {
    height: 90% !important;
  }
  .iam .iam-content {
    margin-top: 50px !important;
  }
  .welcome .sub-welcome {
    border-top-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    margin: 13vw !important;
  }
}

@media only screen and (max-width: 430px) {
  .who {
    height: 430px !important;
  }
  .who .who-pic img {
    height: 80% !important;
  }
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f0f2f5;
}

body * {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

nav {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px;
  z-index: 1;
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links {
  margin-left: 4vw;
}

nav .nav-links .nav-btn {
  font-weight: bolder;
  display: inline-block;
  text-align: center;
  width: 120px;
  padding: 1vw 0px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.452);
  margin-right: 0.2vw;
  cursor: pointer;
}

nav .nav-links .nav-btn:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

nav .nav-links .nav-btn:focus {
  -webkit-animation-name: click;
          animation-name: click;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
}

@-webkit-keyframes click {
  From {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  To {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes click {
  From {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  To {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

nav .nav-links .active {
  color: #f0f2f5;
}

nav .nav-links .active:hover {
  text-decoration: none;
  color: #f0f2f5;
}

nav .nav-links #more {
  display: none;
}

nav .nav-links #more .dropdown-menu .nav-btn {
  display: none;
}

nav .logo {
  margin: 20px;
}

nav .logo img {
  height: 59px;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px white;
          box-shadow: 1px 1px 2px white;
}

nav .logo img:hover {
  -webkit-box-shadow: 2px 2px 6px white;
          box-shadow: 2px 2px 6px white;
}

.welcome {
  background-color: #333333;
  text-align: center;
  padding: 30px 0px;
}

.welcome .sub-welcome {
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: #2c2b2b;
  margin: 0vw 10vw 130px !important;
  position: relative;
  top: 60px;
  margin-top: 1px;
}

.welcome .sub-welcome h1,
.welcome .sub-welcome h3 {
  margin: 0px;
}

.welcome .sub-welcome h1 {
  padding-top: 50px;
}

.welcome .sub-welcome h3 {
  padding-top: 20px;
  font-weight: lighter;
}

.welcome .sub-welcome .welcome-p {
  line-height: 30px;
  padding: 5px 19%;
}

.welcome .sub-welcome .welcome-btn h3 {
  margin: 0px;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  padding-bottom: 50px;
}

.who {
  background-color: #f0f2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.who .who-pic img {
  width: 35vw;
  height: 100%;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  margin-top: 20px;
  border-right: 12px solid #2c2b2b;
}

.who .who-content {
  height: 100%;
  margin-top: 20px;
  width: 100%;
}

.who .who-content .who-h {
  color: #2c2b2b;
  margin: 0px;
  padding-left: 30px;
}

.who .who-content .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px;
  height: 86%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.who .who-content .slider .slider-content {
  margin: 5px;
}

.who .who-content .slider .slider-content::before {
  overflow: hidden;
  content: "#";
  display: block;
  background-color: #2c2b2b;
  color: #f0f2f5;
  font-family: sans-serif;
  font-size: 40px;
  width: 70px;
  padding: 20px 10px;
  text-align: center;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.who .who-content .slider .slider-content:hover::before {
  overflow: hidden;
  content: var(--content);
  width: 100%;
}

.who .who-content::before {
  content: "";
  display: block;
  height: 100vh;
  width: 98vw;
  position: absolute;
  top: 60vh;
  left: 0px;
}

.who .who-content:hover .slider-content::before {
  content: var(--content);
  width: 100%;
}

.iam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.iam .iam-content {
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iam .iam-content .bg {
  width: 52%;
  position: absolute;
  opacity: .25;
  z-index: -1;
}

.iam .iam-content h1 {
  text-align: center;
  word-spacing: 4vw;
  letter-spacing: 0.71vw;
  line-height: 11vw;
  color: #2c2b2b;
  padding-top: 40px;
  font-size: 5vw;
}

.iam .iam-pic {
  position: relative;
  right: 40px;
  bottom: 60px;
  height: 600px;
  width: 450px;
}

.iam .iam-pic img {
  position: relative;
  height: 100%;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
}

.stranger {
  height: 50vh;
  width: 100%;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stranger .stranger-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stranger .stranger-content h1 {
  text-align: center;
  word-spacing: 50px;
  letter-spacing: 10px;
  line-height: 130px;
  color: #2c2b2b;
}

.stranger .stranger-content h1:hover + img {
  opacity: 0.2;
}

.stranger .stranger-content img {
  height: 100px;
  opacity: 0.1;
}

.stranger .stranger-content img:hover {
  opacity: 0.2;
}

.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown .dropdown-btn {
  background-color: transparent;
  border: none;
  font-size: 17px;
}

.dropdown .dropdown-btn:focus + .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  width: 200px;
  margin-top: 0px;
  text-align: center;
  list-style: none;
}

.dropdown .dropdown-menu .top {
  -webkit-clip-path: polygon(22% 25%, 32% 0, 44% 25%, 100% 25%, 100% 100%, 0 100%, 0 25%);
          clip-path: polygon(22% 25%, 32% 0, 44% 25%, 100% 25%, 100% 100%, 0 100%, 0 25%);
  padding-top: 1.4vw;
}

.dropdown .dropdown-menu a {
  color: black;
  padding: 8px 13px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #2c2b2b;
  display: block;
}

.dropdown .dropdown-menu a:hover {
  background-color: #2c2b2b;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */